body {
  font-family: sans-serif;
}
body #root {
  background-color: #f5f5f5;
}
body #root .app {
  text-align: center;
  font-size: 1em;
  background-color: #e7f7ff;
  height: 100vh;
}

body #root .header {
  background-color: #222;
  padding: 60px;
  color: white;
}

body #root .intro {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  line-height: 2em;
}

body #root .input-box {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 50%;
}

body #root .input-box form {
  width: 100%;
  height: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

body #root .input-box textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}

body #root .buttons {
  margin: 40px;
}

body #root .buttons a {
  width: 80px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-top: 23px;
  box-shadow: 0 12px 15px 0 rgb(255 99 142 / 20%);
  margin: 20px;
  color: #fff;
  background-color: #ff638e;
}
body #root .buttons a:active,
body #root .buttons a:hover {
  color: #222222;
  background-color: #f5f5f5;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body #root .input-box .warning {
  color: red;
  height: 1em;
  line-height: 0.8;
}

body #root .input-box .counter-results {
  margin-bottom: 20px;
}
body #root .input-box .counter-results div {
  display: inline;
}
body #root .table-responsive {
  margin-top: 20px;
}
body #root .table-responsive div {
  margin: 5px;
}
body #root .table-responsive table thead tr th {
  text-align: center;
}
body #root footer span {
  display: block;
  padding: 0 0 10px;
}
body #root footer a {
  color: #000;
  text-decoration: none;
}
body #root footer a:active,
body #root footer a:hover {
  color: #222222;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
}
